@import "../../../../static/styles/globals.scss";

.ad_cat_n_credit_pickers {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;

  .ad_credits_choise {
    margin-left: 5rem;
  }
}

.ad_header {
  display: flex;
  flex-direction: row;

  span {
    @extend %heading-1;
  }
  button {
    border: 0px;
    float: right;
    &:hover {
      cursor: pointer;
    }
  }
}

.ad_tag_choise {
  height: 48px;
  line-height: 29px;
  align-items: center;
  span {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
  }
  color: #000000;

  button {
    &:hover {
      cursor: pointer;
    }
  }
}

// .ad_course_inp {
//   margin-bottom: 0.5rem;
// }

.ad_course_form_input {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
  height: 48px;
}

.ad_reverse {
  margin-top: 1rem;
  display: flex;
  flex-direction: row-reverse;

  button {
    margin-left: 1rem;
    height: 60px;
    padding: 0 2rem 0 2rem;

    width: 280px;

    background: #1c52ad;
    border-radius: 4px;
    border: 0px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    span {
      margin-right: 3rem;
      font-family: Barlow;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 29px;
      /* identical to box height */

      text-align: center;

      color: #ffffff;
    }

    &:hover {
      cursor: pointer;
      background: #082557;
    }
  }
}

.ad_form_pane {
  padding: 1rem;
  background: $White-1;
}
