@import "./../../../../static/styles/globals.scss";

.submit {
  background: $Base-primary;
  color: #ffffff;
  float: right;
  margin-bottom: 1rem;
  font-size: 20px;
  border: 0px;
  border-radius: 5px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  transition: 0.3s ease;

  &:hover {
    background: $Base-primary-1;
    box-shadow: $shadow-all-3;
  }
}
