@import "../../../../../static/styles/globals.scss";

.detailedCourse {
  width: 105%;
  grid-column: 1 / -1;
  background: linear-gradient(205.1deg, #da7eff 0.56%, #fdc25c 101.17%);
  border-radius: 10px;
  padding: 1rem 2rem 2rem 2rem;

  .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    span {
      font-family: Lato, Roboto;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 38px;
      padding-bottom: 8px;

      color: #ffffff;

      &:hover {
        cursor: pointer;
      }
    }

    button {
      height: 36px;
      width: 36px;
      align-self: center;

      background: transparent;
      box-shadow: none;

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
        background: transparent;
      }
    }
  }

  p {
    margin: 1rem 0 0 1rem;
    font-family: Lato, Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;

    color: #ffffff;
  }

  .statsBox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    margin-top: 2rem;
    grid-gap: 2rem 1rem;

    button {
      grid-column-end: -1;
      width: 100%;
      // height: 64px;
      padding: 0 1rem 0 1rem;
      margin: 0.3rem 0 0.3rem 0;

      background: $Blue-1;
      /* mild */

      border-radius: 5px;
      border: 0px;
      box-shadow: $shadow-1;

      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      color: $White-0;
      transition: 0.2s ease;

      img {
        transition: 0.3s ease;
      }

      &:hover {
        cursor: pointer;
        background: $Blue-4;
        box-shadow: $shadow-all-2;
        img {
          transform: scale(1.5);
        }
      }

      span {
        width: 64px;
        font-family: Lato, Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        /* identical to box height */

        color: inherit;
      }

      img {
        color: inherit;
      }
    }
  }

  .stat {
    width: 160px;
    // height: 64px;
    padding: 0.5rem 0rem 0.5rem 0rem;
    background: #ffffffd7;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: $shadow-1;
    text-align: center;
    justify-self: center;

    .value {
      font-family: Lato, Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 34px;
      /* identical to box height */
      text-align: center;

      color: $Black-1;
    }

    .label {
      font-family: Barlow, Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height */
      text-align: center;

      color: $Black-1;
    }
  }

  .attend {
    background: $Red-1;
    border: 0px;
    border-radius: 5px;
    transition: transform 0.2s ease;
    &:hover {
      cursor: pointer;
      background: $Red-2;
      img {
        transform: scale(1.5);
      }
    }
  }
}

.secondaryBox {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .modulesBox {
    span {
      font-family: Lato, Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 34px;

      color: $White-0;
    }

    .modCard {
      margin-top: 2rem;
      display: flex;

      .arrows {
        height: 192px;
        width: 64px;
        align-self: center;
        margin: 0 1rem 0 1rem;

        background: transparent;
        box-shadow: none;

        &:hover {
          cursor: pointer;
          background: #ca515146;
        }
      }
    }
  }

  .introClip {
    margin-top: 2rem;
    margin-right: 2rem;
    vertical-align: middle;
    width: 554px;
    height: 294px;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
