@import "../../../../static/styles/globals.scss";
.container {
  width: 100%;
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;

  display: grid;
  grid-template-columns: auto 1fr;
  // grid-template-rows: 1fr;
  place-items: center;
}

.navbar {
  width: 100%;
  height: 72px;

  background: $Base-secondary;
}

.feedback {
  // color: $Base-primary;
  width: 8rem;
  color: #000000;
  position: fixed;
  background: #bbff00;
  bottom: 2rem;
  right: 1rem;
  z-index: 20;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  border: 0px;
  border-radius: 5px;
  font-size: 20px;
  padding: 0.5rem 1rem 0.5rem 1rem;

  transition: 0.3s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: $shadow-all-3;
  }
}

.float_join {
  position: fixed;
  bottom: 5rem;
  right: 1rem;
  z-index: 20;
  padding: 0 2rem 0 2rem;
  background: $Blue-3;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  border: 0px;
  border-radius: 10px;
  font-size: 20px;
  color: #ffffff;
  padding: 0.5rem 1rem 0.5rem 1rem;

  transition: 0.3s ease;
  border-radius: 5px;
  width: 6rem;
  box-shadow: 10px 10px 20px #00000026;

  transition: 0.3s ease;
  &:hover {
    cursor: pointer;
    box-shadow: $shadow-all-3;
    transform: scale(1.2);
  }
}

.brandLogo {
  button {
    background: inherit;
    color: #ffffff;
    border: 0px;

    &:hover {
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
  }

  font-family: Barlow, Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;

  color: #ffffff;
}

.item {
  padding: 5px;
  display: grid;
  grid-gap: 5px;
  grid-column: -1;
  grid-template-columns: repeat(8, auto);
}

%nav {
  top: 2px;
  height: 45px;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  align-content: center;

  background: inherit;
  border-radius: 2px;
  border: 0px;

  // font-family: lato;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #ffffff;

  &:focus {
    outline: none;
  }
}

.navLink {
  @extend %nav;
  transition: 0.2s ease-in;
  &:hover {
    cursor: pointer;
    color: $Base-secondary;
    background: #ffffff;
  }
}

.active {
  color: $Base-secondary;
  background: #ffffff;
}

.signIn {
  @extend %nav;
  background: $Base-primary;
  color: $White-0;
  padding: 0 2rem 0 2rem;
  transition: 0.2s ease;
  margin-left: 1rem;
  border-radius: 5px;

  &:hover {
    // background: $White-0;
    cursor: pointer;
    // color: $Base-primary;
    transform: translateY(-5px);
  }
}

.user {
  @extend %nav;
  transition: 0.2s ease-in;
  padding: 0 0.6rem 0 0.6rem;

  &:hover {
    cursor: pointer;
    background: $Base-primary;
  }
}

.user_active {
  background: $Base-primary;
}

.signOut {
  @extend %nav;
  background: #f11b0c;
  width: 10rem;

  &:hover {
    background: #cf170a;
    cursor: pointer;
  }
}

.join {
  @extend %nav;
  background: $Blue-3b;
  padding: 0 2rem 0 2rem;
  transition: 0.2s ease;
  border-radius: 5px;
  &:hover {
    background: $Blue-3b;
    cursor: pointer;
    transform: translateY(-5px);
  }
}
