.container {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;

  display: grid;
  grid-template-columns: auto 1fr;
}

.navbar {
  width: 100%;
  // background: #161616;
  background: #1c1627;
}

.brandLogo {
  button {
    background: inherit;
    color: #ffffff;
    border: 0px;

    &:hover {
      cursor: pointer;
    }
  }

  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;

  color: #ffffff;
}

.item {
  padding: 5px;
  display: grid;
  grid-gap: 10px;
  grid-column: -1;
  grid-template-columns: repeat(8, auto);
}

%nav {
  top: 2px;
  height: 45px;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  align-content: center;

  background: inherit;
  border-radius: 2px;
  border: 0px;

  font-family: lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #ffffff;
}

.navLink {
  @extend %nav;

  &:hover {
    cursor: pointer;
    background: #2b2b2b;
  }
}

.signIn {
  @extend %nav;
  background: #777ae2;
  width: 10rem;

  &:hover {
    background: #676ac5;
    cursor: pointer;
  }
}

.signOut {
  @extend %nav;
  background: #f11b0c;
  width: 10rem;

  &:hover {
    background: #cf170a;
    cursor: pointer;
  }
}

.join {
  @extend %nav;
  background: #8633c5;
  width: 8rem;

  &:hover {
    background: #5d2488;
    cursor: pointer;
  }
}
