@import "../../../../static/styles/globals.scss";

.ad_popup_header {
  margin: 1rem;
  span {
    font-family: Barlow, Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
  }

  h4 {
    font-family: Lato, Roboto;
    font-size: 20px;
    color: $Black-1;
  }
}

%nav {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  align-content: center;

  background: inherit;
  border-radius: 2px;
  border: 0px;

  // font-family: lato;

  font-family: Lato, Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;

  &:focus {
    outline: none;
  }
}

span {
  font-family: Barlow, Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.ad_popup {
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 1rem 0 1rem;

  .ad_link {
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    transition: 0.1s ease;
    font-weight: normal;
    &:hover {
      cursor: pointer;
      background: $Base-primary;
      color: $White-0;
      transform: scale(1.05);
      border-radius: 5px;
      border: 0px;
    }
  }

  .ad_signOut {
    @extend %nav;
    margin-top: 1rem;
    background: #e02323;
    height: 36px;
    border-radius: 5px;
    transition: 0.1s ease;
    span {
      font-weight: normal;
      color: $White-0;
    }
    &:hover {
      background: #770a0a;
      cursor: pointer;
    }
  }
}
