.searchBar {
  display: grid;
  grid-template-columns: 1fr auto auto 1fr;

  input {
    width: 700px;
    height: 55px;
    padding-left: 2rem;

    border: 1px solid #c6c6c6;
    box-sizing: border-box;
    border-radius: 3px;
    margin-right: 1rem;

    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #455a64;

    &::placeholder {
      color: #b0bec5;
    }

    &:focus,
    &:hover {
      border: 1px solid #181616;
    }
  }

  button {
    justify-self: left;
    width: 136px;
    height: 55px;

    color: #3880fd;
    background: #ffffff;
    border: 2px solid #3880fd;
    border-radius: 3px;

    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */

    &:hover {
      cursor: pointer;
      color: #ffffff;
      border: 0px;
      background: #3880fd;
    }
  }
}
