@import "../../../../static/styles/globals.scss";

.detailedCourse {
  height: 570px;
  width: 105%;
  grid-column: 1 / -1;
  background: linear-gradient(205.1deg, #dd1374 0.56%, #ffd17f 101.17%);
  border-radius: 10px;
  padding: 2rem;

  .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    span {
      font-family: Barlow;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      padding-bottom: 8px;

      color: #ffffff;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
    }

    button {
      height: 36px;
      width: 36px;
      align-self: center;

      background: transparent;
      box-shadow: none;

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
        background: transparent;
      }
    }
  }

  p {
    margin-top: 1rem;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;

    color: #ffffff;
  }

  .statsBox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    margin-top: 2rem;
    grid-gap: 2rem 1rem;
  }

  .stat {
    width: 160px;
    height: 64px;

    border: 2px solid #ffffff;
    box-sizing: border-box;
    border-radius: 2px;

    text-align: center;
    justify-self: center;

    .value {
      font-family: Barlow;
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 34px;
      /* identical to box height */
      text-align: center;

      color: #ffffff;
    }

    .label {
      font-family: Barlow;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      /* identical to box height */
      text-align: center;

      color: #ffffff;
    }
  }

  button {
    grid-column-end: -1;
    width: 100%;
    height: 64px;

    background: $Yellow-10;
    /* mild */

    border-radius: 2px;
    border: 0px;
    box-shadow: $shadow-1;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    color: $White-0;

    &:hover {
      cursor: pointer;
      background: $Yellow-2;
    }

    span {
      width: 64px;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 29px;
      /* identical to box height */

      color: inherit;
    }

    img {
      color: inherit;
    }
  }

  .attend {
    background: $Red-1;
    border: 0px;
    border-radius: 5px;
    transition: transform 0.2s ease;
    &:hover {
      cursor: pointer;
      background: $Red-2;
      img {
        transform: scale(1.5);
      }
    }
  }
}

.secondaryBox {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .modulesBox {
    span {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 34px;

      color: $White-0;
    }

    .modCard {
      margin-top: 2rem;
      display: flex;

      .arrows {
        height: 192px;
        width: 64px;
        align-self: center;
        margin: 0 1rem 0 1rem;

        background: transparent;
        box-shadow: none;

        &:hover {
          cursor: pointer;
          background: #ca515146;
        }
      }
    }
  }

  .introClip {
    margin-top: 2rem;
    margin-right: 2rem;
    vertical-align: middle;
    width: 554px;
    height: 294px;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
