@import "../../../../static/styles/globals.scss";

.loader {
  margin-top: 5rem;
}

.mdModuleCard {
  width: 500px;
  height: 244px;
  background: $White-0;

  // border: 1px solid $Black-1;
  // box-sizing: border-box;
  border-radius: 5px;
  padding: 1rem 2rem 1rem 2rem;

  .title {
    font-family: Scope One;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 39px;

    color: $Black-1;
  }

  &:hover {
    cursor: pointer;
  }
}

.secBox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  margin-top: 2rem;
  grid-gap: 2rem 1rem;

  .stat {
    width: 130px;
    height: 60px;

    border: 1px solid $Black-1;
    box-sizing: border-box;
    border-radius: 2px;

    text-align: center;
    justify-self: center;

    .value {
      font-family: Barlow;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      /* identical to box height */
      text-align: center;

      color: $Black-1;
    }

    .label {
      font-family: Barlow;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */
      text-align: center;

      color: $Black-1;
    }
  }

  button {
    justify-self: center;
    grid-column-end: -1;
    width: 140px;
    height: 50px;

    background: $Blue-5;
    border-radius: 3px;
    border: 0px;
    /* mild */

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    color: $White-0;
    .label {
      font-family: Barlow;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      /* identical to box height */

      color: inherit;
    }

    &:hover {
      cursor: pointer;
      background: $Blue-6;
    }
  }
}

.detailedModuleCard {
  height: 300px;
  width: 105%;
  padding: 1rem 2rem 1rem 2rem;
  grid-column: 1 / -1;
  background: $grad-5;
  border-radius: 10px;

  .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    span {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 38px;

      color: #ffffff;
    }

    button {
      height: 36px;
      width: 36px;
      align-self: center;

      background: transparent;
      border: 0px;

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
        background: transparent;
      }
    }
  }

  .lessonsBox {
    margin: 2rem 0 2rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    .lessonsList {
      flex-grow: 4;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 2rem;
      margin: 0 1rem 0 1rem;
    }

    .arrows {
      height: 160px;
      width: 64px;
      align-self: center;
      border: 0px;
      background: transparent;

      &:hover {
        cursor: pointer;
        background: #00000010;
      }
    }
  }
}
