@import "../../../../static/styles/globals.scss";

.loader {
  margin-top: 5rem;
}

.mdModuleCard {
  width: 500px;
  height: 244px;

  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 1rem 2rem 1rem 2rem;

  span {
    font-family: Scope One;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 39px;

    color: #ffffff;
  }
}

.secBox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  margin-top: 2rem;
  grid-gap: 2rem 1rem;

  .stat {
    width: 130px;
    height: 60px;

    border: 2px solid #ffffff;
    box-sizing: border-box;
    border-radius: 2px;

    text-align: center;
    justify-self: center;

    .value {
      font-family: Barlow;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      /* identical to box height */
      text-align: center;

      color: #ffffff;
    }

    .label {
      font-family: Barlow;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */
      text-align: center;

      color: #ffffff;
    }
  }

  button {
    justify-self: center;
    grid-column-end: -1;
    width: 140px;
    height: 50px;

    background: $Blue-5;
    border-radius: 3px;
    border: 0px;
    /* mild */

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    color: $White-0;
    .label {
      font-family: Barlow;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      /* identical to box height */

      color: inherit;
    }

    &:hover {
      cursor: pointer;
      background: $Blue-6;
    }
  }
}
