// Colors
$White-0: #ffffff;
$White-1: #fcfcfc;
$White-2: #f7f7f7;
$White-3: #dddddd;
$White-4: #e7e7e7;

$Red-4: #eb2b2b31;

$Blue-1: #1323dd;
$Blue-2: #4a3ebe;
$Blue-3: #397ef0;
$Blue-4: #232057;
$Blue-5: #1c52ad;
$Blue-6: #0d3375;
$Blue-10: #1c1627;

$Blue-11: #d9e3fd;

$Yellow-1: #ffe3b0;
$Yellow-2: #fbbc05;
$Yellow-3: #e2d245;
$Yellow-10: #ff9c44;

$Purple-1: #8322aa;
$Purple-1b: #6e1d8f;

$Black-1: #3f3e3e;

// Gradients
$grad-card-1: linear-gradient(205.09deg, #dd13dd -12.19%, #2469de 101.17%);
$grad-2: linear-gradient(27.72deg, #8400ff 0%, #ff786c 98.34%);
$grad-3: linear-gradient(204.02deg, #63c060 -20.48%, #9bcfff 101.17%);
$grad-4: linear-gradient(250.54deg, #0779eb -32.44%, #c9ffd8 100%);
$grad-5: linear-gradient(109.15deg, #27d2a9 0%, #e2d245 100%);
$grad-6: linear-gradient(205.1deg, #dd1374 0.56%, #ffd17f 101.17%);
$grad-7: linear-gradient(204.12deg, #ffc661 0%, #ee3d4f 101.17%);
$grad-8: linear-gradient(203.81deg, #00ffff -8.36%, #504de8 101.17%);
$grad-9: linear-gradient(306.31deg, #ffd29d 7.11%, #e85f53 94.22%);
// Shadow
$shadow-1: 10px 10px 20px rgba(0, 0, 0, 0.15);
$shadow-2: 10px 10px 20px rgba(0, 0, 0, 0.342);

// headings
%heading-0 {
  font-family: Scope One;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 55px;

  color: #000000;
}

%heading-1 {
  font-family: Scope One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 50px;

  color: #000000;
}

%heading-2 {
  font-family: Scope One;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 50px;

  color: #000000;
}

// font

%BtnFont-1 {
  font-family: Barlow;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}

// container
%containerLg {
  padding: 2rem 5% 2rem 5%;
}
