.card {
  background-image: linear-gradient(62deg, #050505 0%, #bebebe 100%);
  margin: 0 1em 0 1em;
  padding-bottom: 1.5em;
}

.card:hover {
  cursor: pointer;

  transition: box-shadow 0.15s;

  &:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.37),
      0 6px 20px 0 rgba(0, 0, 0, 0.377);
  }
}

.headShadow {
  // 4px 5px 0 #00000023;
  text-shadow: 4px 5px 0 #00000023;
}
